/bot_detection_challenge.zip
/desc.txt
/cond.txt
/.idea/avito-bootcamp-fall.iml
/.idea/modules.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
